<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'appcss/dashboard.css' %}">
</head>
<style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }



</style>
<!-- Custom styles for this template -->
</head>
<body>
<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Company name</a>
    <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="{% url 'logout'  %}">Sign out</a>
        </li>
    </ul>
</nav>

<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/dashboard/' %} active {% endif %}"
                           href="{% url 'dashboard'  %}">

                            Dashboard <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/pending/' %} active {% endif %}"
                           href="{% url 'dashboard'  %}">

                            Pending Appointment
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/appointment/' %} active {% endif %}"
                           href="{% url 'dashboard'  %}">
                            Appointment
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if '/query/'  in  request.path  %} active {% endif %}"
                           href="{% url 'query_all'  %}">
                            Query
                        </a>
                    </li>

                </ul>
            </div>
        </nav>
        {% block content %}
        {% endblock %}
    </div>
</div>
<script src="{% static 'js/jquery.js' %}"></script>

<script src="{% static 'js/bootstrap.bundle.js' %}"></script>
</body>
</html>