{% extends "base.html" %}
{% block content %}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Query</h1>
    </div>
</main>
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4 ">
    {% for query in queries %}
    <div class="container  border-bottom pb-3">
        <div class="row">
            <div class="[ col-xs-12 col-sm-offset-1 col-sm-12 ] ">
                <div class="[ panel panel-default ] panel-google-plus ">

                    <div class="panel-heading">
                        <img class="[ img-circle pull-left ]"
                             src="https://lh3.googleusercontent.com/-CxXg7_7ylq4/AAAAAAAAAAI/AAAAAAAAAQ8/LhCIKQC5Aq4/s46-c-k-no/photo.jpg"
                             alt="Mouse0270"/>
                        <h3 class="mt-2">{{query.asked_by|capfirst}}</h3>
                        {% load tz %}
                        {% timezone "Asia/Kolkata" %}
                        <h5><span>{{query.asked_On|date:"D ,jS F Y ,H:i"}}</span></h5>
                        {% endtimezone %}
                    </div>
                    <div class="d-flex text-justify  align-items-center pt-3 pb-2 mb-1 pr-0 pl-0">
                        <p>{{query.question|capfirst}}</p>
                    </div>
                    <a href="{% url 'query' value=query.id %}" class="btn {% if query.replied  %}btn-outline-danger{%else %}btn-outline-info {% endif %} mt-2" role="button">Answer</a>

                </div>
            </div>

        </div>
    </div>
    {% endfor %}
</main>
{% endblock%}